@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
/* https://www.nike.com/in/w?q=kids&vst=kids */

a.active hr {
  display: block;
}
@media (max-width: 640px) {
  a.active {
    background-color: rgb(109, 106, 106);
    color: white;
  }
}
* {
  font-family: outfit;
}
.step-in-trend {
  font-family: "Arial", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px;
  padding-left: 0.5rem;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
